.my-btn {
  background: none;
  border: 2px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-dark);
  width: 9rem;
  padding: 0.5rem;
  height: 3rem;
  gap: 0.5rem;
  transition: all 0.5s ease-in-out;
  background-color: var(--bg-dark);
  position: relative;
  border-radius: 15px; 
}
.my-btn::before {
  content: '';
  position: absolute;
  top: -3px; left: -3px;
  right: -3px; bottom: -3px;
  background: linear-gradient(to right, #9845e8 0%, #33d2ff 50%, #dd5789 100%);
  border-radius: 15px; 
  z-index: -1;
}
.my-btn a{
  height: 20px;
  position: relative;
    width: 20px;
    margin-top: 1em;
    filter: invert(95%);
  
}
  
  .my-btn > img {
    height: 20px;
    width: 20px;
    margin-top: 1em;
    filter: invert(95%);
  
  }
  
  .my-btn:hover {
    background-color: var(--highlight);
  }