.project-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
  padding: 1.5rem;
  transition: all 0.3s ease-in-out;
  
}
.project-card h2 {
  text-align: justify;
  direction: ltr;
}
.project-card:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 0 1rem 0.2rem black;
  transition: all 0.3s ease-in-out;
}

.project-card img {
  width: 100%;
  height: 250px;
  border-radius: 0.4rem;
  object-fit: cover;
}
.project-card > .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-card > .header > div {
  display: flex;
  gap: 1rem;
}

.project-card > .header > div > a > img {
  width: 20px;
  height: 20px;
  filter: invert(80%);
  transition: all 0.3s ease-in-out;
}

.project-card > .header > div > a > img:hover {
  transform: scale(1.1);
}

.project-card > .detail {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-card > .detail > .tech {
  color: var(--highlight);
}
.botones-card {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  filter: invert(80%);
  transition: all 0.3s ease-in-out;
}
.botones-card a img {
  width: 30px;
  height: 30px;
  gap: 1rem;
}
.botones-card a img:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.detail img {
  width: 20px;
  height: 20px;
}
.detail p {
  font-size: 1.2rem; ;
  text-align: justify;
  direction: ltr;
}
