nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 9rem;
  flex-wrap: wrap;
  z-index: 1;

  
}
.h2nav {
  font-size: 2rem;
  text-decoration: underline;
  text-decoration-color: var(--highlight);
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  transition: all 0.3s ease-in-out;
  
  
}

@media (max-width: 770px) {
  nav {
    padding: 0 2rem;
  }
  .switch__label {
    width: 50px;
    height: 25px;
  }
}

nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

nav .switch {
  background: none;
  border: none;
  color: inherit;
}

nav a {
  transition: all 0.3s ease-in-out;
}

nav ul li a {
  position: relative;
  text-decoration: none;
  padding-bottom: 5px;
  transition: color 0.5s ease-in-out;
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--highlight);
  transition: width 0.3s ease, left 0.3s ease;
}

nav ul li a.active::after {
  width: 100%;
  left: 0;
}

nav a:hover {
  color: var(--highlight);
}

button:hover {
  cursor: pointer;
}

